<!DOCTYPE html>
<html>
    <head>
        <title>Ventas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- SweertAlert2 -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function Telefono(texto) {
            return /^\d{9}$/.test(texto) && texto.startsWith("9");
            }
            function Dni(texto) {
            return /^\d{8}$/.test(texto);
            }
            function esCorreoValido(correo) {
            const correoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return correoRegex.test(correo);
            }
            function textRes(texto) {
            const letrasRegex = /^[a-zA-Z]+$/;
            return letrasRegex.test(texto) && texto.length >= 3 && texto.length < 12;
            }
            function textDire(texto) {
            const letrasRegex = /^[a-zA-Z]+$/;
            return letrasRegex.test(texto) && texto.length >= 3 && texto.length < 30;
            }
            function tieneCaracteresEspeciales(texto) {
            const caracteresEspecialesRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
            return caracteresEspecialesRegex.test(texto);
            }
            function validarNumero(numero) {
                const numerosRegex = /^[0-9]+$/;
                return numerosRegex.test(numero) && numero >= 1 && numero <= 10;
            }
            
            function Registrar()
            {
                event.preventDefault();

                const nom = document.getElementById("nom").value;
                const ape = document.getElementById("ape").value;
                const cor = document.getElementById("cor").value;
                const tel = document.getElementById("tel").value;
                const can = document.getElementById("can").value;
                const dis = document.getElementById("dis").value;


                if (nom == "" || ape == "" || cor == "" || tel == "" || can == "" || dis == "")
                {
                    //Puedes aqui poner una alerta: llene los campos
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Llenar todos los datos!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    });

                } else if (!textRes(nom)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Nombre no valido!',
                    });
                }
                else if (!textRes(ape)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Nombre no valido!',
                    });
                }
                else if (!esCorreoValido(cor)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Invalid input',
                    text: 'Correo no valido.'
                    });
                }
                else if (!Telefono(tel)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Invalid input',
                    text: 'Numero no valido.'
                    });
                }
                else if (!validarNumero(can)) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Solo se permiten números enteros mayores a 1 y menores que 50 en el campo Stock!',
                    });
                }
                
                
                else
                {
                    Swal.fire({
                        title: 'Do you want to save the changes?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Save',
                        denyButtonText: `Don't save`,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: 'Saved!',
                                text: '',
                                icon: 'success',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    const formulario = document.getElementById("registrar");
                                    formulario.submit();
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info');
                        }
                    });
                }
            }
            
            function Actualizar()
            {
                event.preventDefault();

                //const id = document.getElementById("id").value;
                const nom = document.getElementById("nom").value;
                const ape = document.getElementById("ape").value;
                const cor = document.getElementById("cor").value;
                const tel = document.getElementById("tel").value;
                const can = document.getElementById("can").value;
                const tot = document.getElementById("tot").value;
                const dis = document.getElementById("dis").value;


                if (nom == "" || ape == "" || cor == "" || tel == "" || can == "" || dis == "")
                {
                    //Puedes aqui poner una alerta: llene los campos
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Llenar todos los datos!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    });

                }else if (!textRes(nom)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Nombre no valido!',
                    });
                }
                else if (!textRes(ape)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Nombre no valido!',
                    });
                }
                else if (!esCorreoValido(cor)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Invalid input',
                    text: 'Correo no valido.'
                    });
                }
                else if (!Telefono(tel)) {
                    Swal.fire({
                    icon: 'error',
                    title: 'Invalid input',
                    text: 'Numero no valido.'
                    });
                }
                else if (!validarNumero(can)) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Solo se permiten números enteros mayores a 1 y menores que 50 en el campo Stock!',
                    });
                } else
                {
                    Swal.fire({
                        title: 'Do you want to save the changes?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Save',
                        denyButtonText: `Don't save`,
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                title: 'Saved!',
                                text: '',
                                icon: 'success',
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    const formulario = document.getElementById("actualizar");
                                    formulario.submit();
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info');
                        }
                    });
                }
            }


            function Eliminar(opcion)
            {
                event.preventDefault();

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    allowOutsideClick: false,
                    allowEscapeKey: false
                }).then((result) => {
                    if (result.isConfirmed) {

                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Your file has been deleted.',
                            icon: 'success',
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = opcion.href;
                            }
                        });

                    }
                });
            }

            function Editar()
            {
                const exampleModal = document.getElementById('modalEditar');
                exampleModal.addEventListener('show.bs.modal', event => {
                    // Button that triggered the modal
                    const button = event.relatedTarget;
                    
                    //Datos
                    const id = button.getAttribute('data-bs-id');
                    const nom = button.getAttribute('data-bs-nom');
                    const ape = button.getAttribute('data-bs-ape');
                    const cor = button.getAttribute('data-bs-cor');
                    const tel = button.getAttribute('data-bs-tel');
                    const can = button.getAttribute('data-bs-can');
                    const tot = button.getAttribute('data-bs-tot');
                    const idd = button.getAttribute('data-bs-idd');
                    const ide = button.getAttribute('data-bs-ide');
                   
                    //Campos
                    const campoId = document.getElementById('id');
                    const campoNom = document.getElementById('nomx');
                    const campoApe = document.getElementById('apex');
                    const campoCor = document.getElementById('corx');
                    const campoTel = document.getElementById('telx');
                    const campoCan = document.getElementById('canx');
                    const campoTot = document.getElementById('totx');
                    const campoDis = document.getElementById('disx');
                    const campoEmp = document.getElementById('empx');
                    
                    //Colocar los datos a los campos
                    campoId.value = id;
                    campoNom.value = nom;
                    campoApe.value = ape;
                    campoCor.value = cor;
                    campoTel.value = tel;
                    campoEmp.value = ide;
                });
            }

        </script>

    </head>
    <!-- ejecuta automaticamente -->
    <body onload="Editar()">

        <div th:insert="menu :: #menu_buscar"></div> <br>
        
        <div class="container">  

            <div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>
                <!-- <a th:href="@{/nuevo}" class="btn btn-success"><i class="bi bi-plus-circle"></i></a> -->
                <a th:href="@{orden_asc}" class="btn btn-warning"><i class="bi bi-sort-up"></i></a>
                <a th:href="@{orden_desc}" class="btn btn-info"><i class="bi bi-sort-down"></i></a>
            </div>

            <hr>
            
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong th:text="'Cantidad: '+${cantidad}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>    
            
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong th:text="'Total: S/'+${soles}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> 
            
            <hr>

            <form class="d-flex" role="search" action="buscar" method="POST">
                <input class="form-control me-2" name="dato" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>

            <hr>

            <table class="table">
                <tr class="table-dark">
                    <th>#</th>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Dispositivo</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Empleado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="venta,status : ${ventas}">
                    <td th:text="${status.count}"></td>
                    <td th:text="${venta.id}"></td>
                    <td th:text="${venta.nombre}"></td>
                    <td th:text="${venta.apellidos}"></td>
                    <td th:text="${venta.correo}"></td>
                    <td th:text="${venta.telefono}"></td>
                    <td th:text="${venta.dispositivo.modelo}"></td>
                    <td th:text="${venta.dispositivo.precio}"></td>
                    <td th:text="${venta.cantidad}"></td>
                    <td th:text="${venta.total}"></td>
                    
                    <td th:text="${venta.empleado.nombre} + ' ' + ${venta.empleado.apellidos}"></td>
                    <td>
                        <!-- th:attr = thymeleaf atributo, envia atributos -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEditar" th:attr="data-bs-id=${venta.id},data-bs-nom=${venta.nombre},data-bs-ape=${venta.apellidos},data-bs-cor=${venta.correo},data-bs-tel=${venta.telefono},data-bs-can=${venta.cantidad},data-bs-tot=${venta.total},data-bs-idd=${venta.dispositivo.id},data-bs-ide=${venta.empleado.id}" ><i class="bi bi-pencil-square"></i></button>
                        <!-- <a th:href="@{/editar(id=${producto.id})}" class="btn btn-success"><i class="bi bi-pencil-square"></i></a> -->
                    </td>
                    <td>
                        <a onclick="return Eliminar(this)" th:href="@{eliminar(id=${venta.id})}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </table>

        </div>


        <!-- Model REGISTRAR -->
        <!-- clase 'modal fade' oculta el modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Venta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="registrar" method="POST" id="registrar">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" name="nom" id="nom" class="form-control" placeholder="Ingrese nombre" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Apellidos:</label>
                                <input type="text" name="ape" id="ape" class="form-control" placeholder="Ingrese apellidos" >
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Correo:</label>
                                <input type="text" name="cor" id="cor" class="form-control" placeholder="Ingrese correo" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Telefono:</label>
                                <input type="text" name="tel" id="tel" class="form-control" placeholder="Ingrese telefono" >
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Cantidad:</label>
                                <input type="number" name="can" id="can" class="form-control" placeholder="Ingrese correo" >
                            </div>
                            
                            <div class="mb-3">
                                <label for="recipient-text" class="col-form-label">Dispositivo:</label>
                                <select name="dis" id="dis" class="form-control">
                                    <option value="">Seleccione</option>
                                    <option th:each="dispositivos : ${dispositivos}" th:value="${dispositivos.id}" th:text="${dispositivos.modelo} + ' ' + ${dispositivos.precio}"></option>  <!-- recorre valores de la tabla -->
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Empleado:</label>
                                <input type="text" name="emp" id="emp" class="form-control" placeholder="Ingrese nombre" th:value="${usuario.nombre} + ' ' +${usuario.apellidos}" readonly>
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button onclick="return Registrar()" type="button" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Model EDITAR/ACTUALIZAR -->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Venta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="actualizar" method="POST" id="actualizar">
                            <input type="hidden" name="id" id="id">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" name="nombre" id="nomx" class="form-control" placeholder="Ingrese nombre" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Apellidos</label>
                                <input type="text" name="apellidos" id="apex" class="form-control" placeholder="Ingrese apellidos" >
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Correo:</label>
                                <input type="text" name="correo" id="corx" class="form-control" placeholder="Ingrese correo" >
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Telefono:</label>
                                <input type="text" name="telefono" id="telx" class="form-control" placeholder="Ingrese telefono" >
                            </div>
                            
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Empleado:</label>
                                <input type="text" name="emp" id="emp" class="form-control" placeholder="Ingrese nombre" th:value="${usuario.nombre} + ' ' +${usuario.apellidos}" readonly>
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button onclick="return Actualizar()" type="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
 
    </body>
</html>
